@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

.msgBox::-webkit-scrollbar {
  width: 5px;
}
.msgBox::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  border-radius: 999px;
}
